* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background: #242424;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.spinner::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #00b7ff 0%, #ff5e00 100%);
  animation: spin 0.5s infinite linear;
}

.spinner::after {
  width: 90%;
  height: 90%;
  background-color: #242424;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */
.lds-hourglass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fcf;
  border-color: rgba(9, 30, 219, 0.555) transparent rgba(85, 4, 85, 0.582)
    transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.main-content {
  width: 100%;
  height: 100vh;
  background: url('https://source.unsplash.com/random/3000x2000') center
    no-repeat;
  background-size: cover;
}
